name: Generate artifacts & deploy

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  publish:
    name: Build artifact
    runs-on: ubuntu-latest
    environment: production

    env:
      REACT_APP_API_URL: ${{ vars.REACT_APP_API_URL }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: |
          DISABLE_ESLINT_PLUGIN=true GENERATE_SOURCEMAP=false npm run build
        env:
          CI: false
